* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Josefin Sans", sans-serif;
  width: 1500px;
  margin: 0 auto;
  overflow-x: hidden;
}

.base {
  padding: 0 1.5rem;
  width: 100%;
}

.btn {
  border-radius: 2.646rem;
  border: none;
  font-weight: 500;
  font-size: 1.26rem;
}

.btn--gradient {
  background: linear-gradient(347.64deg, #34E89E -3.77%, #0F3443 104.95%);
}

.btn--circle {
  border-radius: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1.197rem;
}
.btn--circle img {
  z-index: 3;
  position: relative;
}

.btn--green {
  background: #34E89E;
  box-shadow: 0px 0px 4px 1px #34E89E;
  width: 12.663rem;
  height: 4.158rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 3.276rem;
}
.btn--green img {
  margin-left: 1rem;
}

.wave-bg-right {
  position: absolute;
  right: 0rem;
  bottom: 15rem;
  z-index: -1;
}

.wave-bg-left {
  position: absolute;
  left: 0rem;
  bottom: 5rem;
  z-index: -1;
}

.gradient-circle {
  width: 3.528rem;
  height: 3.528rem;
  border-radius: 100%;
  background: linear-gradient(347.64deg, #34E89E -3.77%, #0F3443 104.95%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}
.gradient-circle:after {
  content: "";
  width: 4.536rem;
  height: 4.536rem;
  background: rgba(52, 232, 158, 0.34);
  border-radius: 100%;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.5rem 0rem;
}

.logo-cont {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.logo-text {
  font-size: 2.016rem;
  color: #0F3443;
  font-weight: 600;
  margin-left: 0.945rem;
}

.logo {
  width: 3.339rem;
  height: 2.205rem;
}

.nav-items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;
}

.nav-item {
  font-weight: 500;
  font-size: 1.26rem;
}

.subscribe {
  width: 8.568rem;
  height: 3.402rem;
  background: #0F3443;
  color: #fff;
}

.sub-cont {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.landing {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 5rem;
  margin-bottom: 7.308rem;
}

.landing__content {
  position: relative;
}

.dark-star {
  position: absolute;
  top: -2rem;
  right: 5rem;
}

.green-star {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.landing__small-text {
  font-size: 0.882rem;
  margin-bottom: 0.756rem;
}

.landing__heading {
  font-size: 4.536rem;
  line-height: 5.418rem;
  margin-bottom: 1.512rem;
  font-weight: 700;
  color: #0F3443;
  width: 40rem;
}

.landing__paragraph {
  font-size: 1.512rem;
  line-height: 2.268rem;
  margin-bottom: 1.827rem;
  color: #7D8182;
  width: 40rem;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 3.15rem;
}
.buttons .btn--circle {
  width: 4.788rem;
  height: 4.788rem;
}
.buttons .btn--circle:before {
  content: "";
  width: 65%;
  height: 65%;
  background: #fff;
  border-radius: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.works {
  color: #7D8182;
  text-decoration: underline;
  font-weight: 500;
  font-size: 1.26rem;
}

.platforms {
  padding: 1.512rem;
  border: solid 1px #EDF1F2;
  border-radius: 0.504rem;
  background: #fff;
}

.platforms__inner {
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr;
  justify-content: center;
  gap: 0.063rem;
  background: #EDF1F2;
}

.platform {
  background: #fff;
  display: flex;
  padding: 1.386rem;
  align-items: center;
  justify-content: flex-start;
}

.platform__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 1.512rem;
}

.platform__text__small {
  color: #7D8182;
  font-size: 0.882rem;
  margin-bottom: 1.008rem;
}

.platform__text__large {
  font-size: 1.512rem;
  font-weight: 500;
}

.landing__imgs {
  display: flex;
  justify-content: space-evenly;
}

.left {
  position: relative;
  top: 6rem;
}

.left, .right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gradient-card {
  background: linear-gradient(347.64deg, #34E89E -3.77%, #0F3443 104.95%);
  border-radius: 6.5rem;
  padding: 2rem;
  width: 17.01rem;
  height: 17.01rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 1rem;
}

.gradient-card__audio {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.gradient-card__text-cont {
  color: #fff;
}

.gradient-card__heading {
  font-weight: 600;
  font-size: 1.26rem;
  line-height: 1.89rem;
  margin-bottom: 0.7rem;
}

.gradient-card__paragraph {
  font-size: 0.945rem;
}

.progress {
  width: 100%;
  height: 0.567rem;
  border-radius: 1.197rem;
  background: rgba(255, 255, 255, 0.4);
  position: relative;
}
.progress:before {
  content: "";
  position: absolute;
  border-radius: 1.197rem;
  height: 100%;
  width: 65%;
  left: 0;
  background: #0F3443;
}

.top {
  margin-bottom: 7.308rem;
}

.top__title-section {
  display: flex;
  position: relative;
  align-items: flex-end;
}
.top__title-section hr {
  background: #0F3443;
  height: 0.252rem;
  border-radius: 0.504rem;
  width: 10.395rem;
  position: relative;
  bottom: 2rem;
  right: 4rem;
}

.top__title {
  font-size: 4.032rem;
  font-weight: 600;
  color: #0F3443;
  width: 30rem;
}

.top__paragraph {
  color: #7D8182;
  font-size: 1.26rem;
  position: absolute;
  right: 0;
  top: 0;
  width: 25rem;
}

.concentric {
  position: absolute;
  top: 0;
  right: 0;
}

.top-cards {
  margin-top: 3.906rem;
  display: flex;
  justify-content: space-between;
}

.top-card {
  background: #EDF1F2;
  padding-left: 3.024rem;
  position: relative;
  height: 26.838rem;
  width: 48%;
  display: flex;
  align-items: center;
}

.top-card__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 22.176rem;
  margin: auto 0;
}

.top-card__title {
  margin-top: 2.016rem;
  font-size: 2.016rem;
  font-weight: 600;
}

.top-card__paragraph {
  color: #7D8182;
  font-size: 1.008rem;
  margin-top: 1.512rem;
  line-height: 1.26rem;
}

.top-card__listen {
  margin-top: 1.512rem;
  text-decoration: underline;
  display: flex;
  align-items: center;
  color: #0C6641;
  font-size: 1.008rem;
}
.top-card__listen img {
  margin-left: 1rem;
}

.card-img-1 {
  position: absolute;
  bottom: 0;
  right: 9rem;
}

.card-img-2 {
  position: absolute;
  bottom: 0;
  right: 0rem;
}

.card-img-3 {
  position: absolute;
  bottom: 10rem;
  right: 0rem;
}

.card-img-4 {
  position: absolute;
  top: 0rem;
  right: 10rem;
}

.join {
  background: #EDF1F2;
  padding-top: 4.851rem;
}

.join__heading {
  text-align: center;
  font-weight: 600;
}

.sm-heading {
  color: #7D8182;
  font-size: 1.26rem;
}

.lg-heading {
  margin-top: 1.008rem;
  color: #0F3443;
  font-size: 3.024rem;
}

/*# sourceMappingURL=index.css.map */
