*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Josefin Sans', sans-serif;
    width: 1500px;
    margin: 0 auto;
    overflow-x: hidden;
}

@import "general.scss";
@import "navbar.scss";
@import "landing.scss";