@import "mixins";
@import "variables";

.landing{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 5rem;
}

.landing__content{
    position: relative;
    
}
.dark-star{
    position: absolute;
    top:-2rem;
    right: 5rem;
}
.green-star{
    position: absolute;
    top:1rem;
    right: 1rem;
}
.landing__small-text{
    @include toRem(font-size, 14);
    @include toRem(margin-bottom, 12);
}
.landing__heading{
    @include toRem(font-size, 72);
    @include toRem(line-height, 86);
    @include toRem(margin-bottom, 24);
    font-weight: 700;
    color: #0F3443;
    width: 40rem;
}
.landing__paragraph{
    @include toRem(font-size, 24);
    @include toRem(line-height, 36);
    @include toRem(margin-bottom, 29);
    color: #7D8182;
    width: 40rem;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    @include toRem(margin-bottom, 50);
    .btn--circle{
        @include toRem(width, 76);
        @include toRem(height, 76);
        &:before{
            content: "";
            width: 65%;
            height: 65%;
            background: #fff;
            border-radius: 100%;
            position: absolute;
            top: 0;
            bottom:0;
            left:0;
            right:0;
            margin: auto;
        }
    }
}
.works{
    color: #7D8182;
    text-decoration: underline;
    font-weight: 500;
    @include toRem(font-size, 20);
}
.platforms{
    @include toRem(padding, 24);
    border:solid 1px #EDF1F2;
    @include toRem(border-radius, 8);
    background: #fff
}
.platforms__inner{
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    justify-content: center;
    @include toRem(gap, 1);
    background: #EDF1F2;
    
}
.platform{
    background: #fff;
    display: flex;
    @include toRem(padding, 22);
    align-items: center;
    justify-content: flex-start;
    
}
.platform__text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include toRem(margin-left, 24);
}
.platform__text__small{
    color: #7D8182;
    @include toRem(font-size, 14);
    @include toRem(margin-bottom, 16);
}
.platform__text__large{
    @include toRem(font-size, 24);
    font-weight: 500
}


.landing__imgs{
    display: flex;
    justify-content: space-evenly;
}
.left{
    position: relative;
    top: 6rem;
}
.left, .right{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gradient-card{
    background: $gradient-background;
    border-radius: 6.5rem;
    padding: 2rem;
    @include toRem(width, 270);
    @include toRem(height, 270);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 1rem;
}
.gradient-card__audio{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.gradient-card__text-cont{
    color: #fff;
}
.gradient-card__heading{
    font-weight: 600;
    @include toRem(font-size, 20);
    @include toRem(line-height, 30);
    margin-bottom: 0.7rem;
}
.gradient-card__paragraph{
    @include toRem(font-size, 15);
}
.progress{
    width: 100%;
    @include toRem(height, 9);
    @include toRem(border-radius, 19);
    background: rgba(255, 255, 255, 0.4);
    position: relative;
    &:before{
        content: "";
        position: absolute;
        @include toRem(border-radius, 19);
        height: 100%;
        width: 65%;
        left: 0;
        background: #0F3443;

    }
}